@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.proposal-form-container {
  width: 500px;
  margin: auto;
  padding: 16px;
  background-color: #ffffff;
  border: 0.5px solid #d3d1d1;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  height: 80px;
  background-color: #252d5b;
}
.proposal-header {
  background-color: #252d5b;
  letter-spacing: 0.05em;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #05273d;
}

.token-count {
  margin-bottom: 8px;
}

.cards-font-color {
  color: #ef7878;
}

.form-label {
  width: 100%;
  margin-bottom: 16px;
}

.form-input {
  width: 95%;
  padding: 8px;
  font-size: 16px;
}

.proposals-title {
  font-size: 1.25rem;
  color: #ef7878;
}

.proposals-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.proposal-item {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .proposal-info {
  margin-right: 8px;
} */

.vote-button,
.submit-button {
  background-color: #fff;
  color: #252d5b;
  padding: 8px 16px;
  border: 2px solid #252d5b;
  border-radius: 4px;
  cursor: pointer;
}

.vote-button:hover,
.submit-button:hover {
  background-color: #252d5b;
  color: #fff;
}

.vote-button:disabled,
.submit-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
}

.comfortaa {
  font-family: "Comfortaa", Arial, sans-serif;
}
